Repository frostsergei/battery-devices-master, pull requests merged in 2024-03, with the labels that each got.

#7 feat server: first prototype
  .gitignore
  server/Controllers/PingController.cs
  server/Program.cs
  server/Properties/launchSettings.json
  server/appsettings.Development.json
  server/appsettings.json
  server/battery-devices.sln
  server/server.csproj
Labels: enhancement

#6 Frontend first prototype (issue #1)
  client/.editorconfig
  client/.gitignore
  client/.vscode/extensions.json
  client/.vscode/launch.json
  client/.vscode/tasks.json
  client/README.md
  client/angular.json
  client/package-lock.json
  client/package.json
  client/src/app/app.component.css
  client/src/app/app.component.html
  client/src/app/app.component.spec.ts
  client/src/app/app.component.ts
  client/src/app/app.config.ts
  client/src/app/app.module.ts
  client/src/app/app.routes.ts
  client/src/assets/.gitkeep
  client/src/favicon.ico
  client/src/index.html
  client/src/main.ts
  client/src/styles.css
  client/tsconfig.app.json
  client/tsconfig.json
  client/tsconfig.spec.json
Labels: enhancement

#19 feat: introducing nswag
  .gitignore
  BatteryDevicesMaster.sln
  Makefile
  README.md
  apigen.nswag
  client/.editorconfig
  client/.eslintrc.json
  client/.vscode/extensions.json
  client/.vscode/launch.json
  client/.vscode/tasks.json
  client/README.md
  client/angular.json
  client/aspnetcore-https.js
  client/client.esproj
  client/karma.conf.js
  client/nuget.config
  client/package-lock.json
  client/package.json
  client/src/app/app-routing.module.ts
  client/src/app/app.component.css
  client/src/app/app.component.html
  client/src/app/app.component.scss
  client/src/app/app.component.spec.ts
  client/src/app/app.component.ts
  client/src/app/app.module.ts
  client/src/main.ts
  client/src/proxy.conf.js
  client/src/styles.scss
  client/tsconfig.app.json
  clientgen.nswag
  docs/api/api.yaml
  run
  server/Controllers/EchoController.cs
  server/Controllers/PingController.cs
  server/Program.cs
  server/Properties/launchSettings.json
  server/appsettings.Development.json
  server/appsettings.json
  server/server.csproj
Labels: enhancement

#22 feat client: add yaml editor
  client/package-lock.json
  client/package.json
  client/src/app/app.component.html
  client/src/app/app.component.ts
  client/src/app/app.module.ts
  client/src/app/yaml-editor/yaml-editor.component.html
  client/src/app/yaml-editor/yaml-editor.component.scss
  client/src/app/yaml-editor/yaml-editor.component.spec.ts
  client/src/app/yaml-editor/yaml-editor.component.ts
  client/src/app/yaml-editor/yaml-editor.module.ts
  docs/api/api.yaml
  package-lock.json
  package.json
Labels: enhancement, client

#28 style client: add indentation formatting rule, fix formatting
  client/.eslintrc.json
  client/src/app/yaml-editor/yaml-editor.component.ts
Labels: RnD, client

#24 feat server: add yaml handle
  client/src/app/app.component.ts
  docs/api/api.yaml
  server/Controllers/EchoController.cs
  server/Controllers/YamlController.cs
  server/Models/ErrorResponse.cs
  server/Models/TextMessage.cs
  server/appsettings.json
Labels: enhancement, server

#27 feat server: add json schema controller
  server/Controllers/JsonSchemaController.cs
Labels: enhancement, server

#29 feat docs: add spt-944 parameter schema
  docs/schemas/parameters/СПТ944.yaml
Labels: documentation

#40 style server: add c sharp formatter, fix server code format
  .github/workflows/CSLint.yml
  server/.editorconfig
  server/Controllers/EchoController.cs
  server/Controllers/JsonSchemaController.cs
  server/Controllers/PingController.cs
  server/Controllers/YamlController.cs
  server/Models/ErrorResponse.cs
  server/Models/TextMessage.cs
  server/Program.cs
Labels: ci

#38 feat client: add inputs with form example
  client/angular.json
  client/package-lock.json
  client/package.json
  client/src/app/app.component.html
  client/src/app/app.module.ts
  client/src/app/sandbox/form/form.component.html
  client/src/app/sandbox/form/form.component.scss
  client/src/app/sandbox/form/form.component.spec.ts
  client/src/app/sandbox/form/form.component.ts
  client/src/app/sandbox/sandbox.module.ts
  client/src/app/shared/input/InputType.ts
  client/src/app/shared/input/input.component.html
  client/src/app/shared/input/input.component.scss
  client/src/app/shared/input/input.component.spec.ts
  client/src/app/shared/input/input.component.ts
  client/src/app/shared/input/prevent-default-stop-propagation.directive.spec.ts
  client/src/app/shared/input/prevent-default-stop-propagation.directive.ts
  client/src/app/shared/shared.module.ts
  client/src/index.html
  client/src/styles.scss
Labels: enhancement, client

#39 feat server: add handlers for form.yaml and parameters.yaml add file writing function
  docs/api/api.yaml
  server/Controllers/YamlConfigController.cs
  server/Controllers/YamlController.cs
  server/Program.cs
  server/Services/YamlWriteService.cs
  server/appsettings.json
Labels: enhancement, server

#43 feat client: add handlers for form. and parameters.yaml, add echo component, refactor components
  client/src/app/app.component.html
  client/src/app/app.component.ts
  client/src/app/app.module.ts
  client/src/app/echo-sender/echo-sender.component.html
  client/src/app/echo-sender/echo-sender.component.scss
  client/src/app/echo-sender/echo-sender.component.spec.ts
  client/src/app/echo-sender/echo-sender.component.ts
  client/src/app/echo-sender/echo-sender.module.ts
  client/src/app/yaml-sender/yaml-sender.component.html
  client/src/app/yaml-sender/yaml-sender.component.scss
  client/src/app/yaml-sender/yaml-sender.component.spec.ts
  client/src/app/yaml-sender/yaml-sender.component.ts
  client/src/app/yaml-sender/yaml-sender.module.ts
Labels: enhancement, client

#44 feat server: add json-xml parser add xml writer
  docs/api/api.yaml
  server/Controllers/JsonFormController.cs
  server/Program.cs
  server/Services/XmlWriteService.cs
  server/appsettings.json
Labels: enhancement, server
