Repository frostsergei/battery-devices-master, pull requests merged in 2024-04, with the labels that each got.

#45 feat client: add form gen example from file
  README.md
  client/.eslintrc.json
  client/src/app/app.component.html
  client/src/app/sandbox/form-gen-demo/form-gen-demo.component.html
  client/src/app/sandbox/form-gen-demo/form-gen-demo.component.scss
  client/src/app/sandbox/form-gen-demo/form-gen-demo.component.spec.ts
  client/src/app/sandbox/form-gen-demo/form-gen-demo.component.ts
  client/src/app/sandbox/sandbox.module.ts
  client/src/app/shared/classes/CustomFormControl.ts
  client/src/app/shared/input/InputType.ts
  client/src/app/shared/input/input.component.ts
  client/src/assets/test.yml
Labels: enhancement, client

#71 fix client: change clients in components
  client/src/app/app.module.ts
  client/src/app/sandbox/form-gen-demo/form-gen-demo.component.html
  client/src/app/sandbox/form-gen-demo/form-gen-demo.component.ts
  client/src/app/sandbox/sandbox.module.ts
  client/src/app/yaml-sender/yaml-sender.component.ts
  docs/api/api.yaml
Labels: client

#66 fix client: add stiling for admin page
  client/src/app/yaml-editor/yaml-editor.component.html
  client/src/app/yaml-editor/yaml-editor.component.scss
  client/src/app/yaml-sender/yaml-sender.component.html
  client/src/app/yaml-sender/yaml-sender.component.scss
  client/src/index.html
Labels: client

#72 feat server: items validator
  server/Services/Helpers/AllOfValidator.cs
  server/Services/Helpers/ConditionsValidator.cs
  server/Services/Helpers/ItemsValidator.cs
  server/Services/Helpers/MinMaxValidator.cs
  server/Services/Helpers/ParameterSchemaHelpers.cs
  server/Services/Helpers/PrecisionValidator.cs
  server/Services/Helpers/RegexValidator.cs
  server/Services/Helpers/TypeBasedValidator.cs
  server/Services/Helpers/TypeValidator.cs
Labels: enhancement, server

#80 test client: add form input test
  client/tests/form-input-test.js
Labels: client, tests

#75 feat server: 'for' cycle schema opener
  server/Controllers/SchemaController.cs
  server/Program.cs
  server/Services/ParameterSchemaParser.cs
  server/Services/SchemaSerializer.cs
  server/docs/schemas/test.yml
Labels: enhancement, server

#85 fear client: add popup-conformation
  client/package-lock.json
  client/package.json
  client/src/app/app.module.ts
  client/src/app/yaml-sender/yaml-sender.component.ts
  client/src/styles.scss
Labels: enhancement, client

#92 ci: integration_tests
  .github/workflows/cs_lint.yaml
  .github/workflows/integration_tests.yml
  .github/workflows/ts_lint.yaml
  client/Dockerfile
  integration_tests/Dockerfile
  integration_tests/docker-compose.yml
  integration_tests/test.sh
Labels: ci
